@page "/calendar"

<h1 class="uppercase">Calendar</h1>

<h4 class="uppercase">@Convert.ToInt32(firstDayOfMonth.DayOfWeek)</h4>
<h4 class="uppercase">@Convert.ToInt32(lastDayOfMonth.DayOfWeek)</h4>

<div class="flex w-full items-center justify-center">
    <div class="text-center w-96">
        <header class="flex flex-row space-x-1.5">
            <button class="border-2 text-2xl text-yellow-500 content-center float-left w-1/4" @onclick="PreviousMonth">←</button>
            <h2 class="uppercase w-1/2">@currentDate.ToString("MMMM")</h2>
            <button class="border-2 text-2xl text-yellow-500 content-center float-right w-1/4" @onclick="NextMonth">→</button>
        </header>

        <table class="border-collapse w-96">
            <thead class="font-semibold uppercase">
                <tr>
                    <td>Mo</td>
                    <td>Tu</td>
                    <td>We</td>
                    <td>Th</td>
                    <td>Fr</td>
                    <td>Sa</td>
                    <td>Su</td>
                </tr>
            </thead>

            <tbody>
                    @for (int i = 0; i < 42; i++)
                    {
                        DateTime d = firstDayOfMonth.AddDays(i);
                        @if(i%7==0 && i > 0)
                        {
                           <tr></tr>
                        }
                        <td>@d.ToString("MMMM dd")</td>
                    }
            </tbody>
        </table>
    </div>
    <!-- end calendar -->
</div>
<!-- end container -->

@code {
    DateTime currentDate = DateTime.Now;
    DateTime firstDayOfMonth;
    DateTime lastDayOfMonth;

    public Calendar()
    {
        firstDayOfMonth = new DateTime(currentDate.Year, currentDate.Month, 1);
        lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
    }

    void PreviousMonth()
    {
        currentDate = currentDate.AddMonths(-1);
        firstDayOfMonth = new DateTime(currentDate.Year, currentDate.Month, 1);
        lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
    }

    void NextMonth()
    {
        currentDate = currentDate.AddMonths(1);
        firstDayOfMonth = new DateTime(currentDate.Year, currentDate.Month, 1);
        lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
    }
}
