@page "/calendar"

<h1 class="uppercase">Calendar</h1>

<CalendarComp SelectedDateCallback="SelectedDate"></CalendarComp>

@select.Day

@code {
    public DateOnly select;

    public void SelectedDate(DateOnly date)
    {
       select = date;
    }
}
